{% extends 'base.html.twig' %}

{% block title %}Interventi Urbani - {{ parent() }}{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'street'}) }}
{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <h1>Interventi Urbani</h1>

    <div class="row">
    {% for key, e in new %}
        <div class="col-sm-3">
            <div class="news-img">
                <a href="{{ path('street_show', {'slug': e.slug}) }}">
                    <img src="{{ asset('images/' ~ e.image) }}" />
                </a>
            </div>
            <div class="exhibit-title">
                <a href="{{ path('street_show', {'slug': e.slug}) }}">
                    <h2>{{ e.title }}</h2>
                </a>
            </div>
        </div>
        {% if (key+1)%4 == 0 and (key+1) < new|length %}
            </div>
            <div class="row">
        {%  endif %}
    {% endfor %}
    </div>

</div>

<div class="container exhibit-container">
    <h1>Edizioni Passate</h1>
    <div class="row">
    {% for key, e in old %}
        <div class="col-sm-3">
            <div class="news-img">
                <a href="{{ path('street_show', {'slug': e.slug}) }}">
                    <img src="{{ asset('images/' ~ e.image) }}" />
                </a>
            </div>
            <div class="exhibit-title">
                <a href="{{ path('street_show', {'slug': e.slug}) }}">
                    <h2>{{ e.title }}</h2>
                </a>
            </div>
        </div>
        {% if (key+1)%4 == 0 and (key+1) < new|length %}
            </div>
            <div class="row">
        {%  endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}

