<div class="container exhibit-container">
    <div class="exhibit-title"><h1>{{ obj.title }}</h1></div>
    <div class="exhibit-image"><img src="{{ asset('uploads/images/' ~ type ~ '/' ~ obj.image) }}" class="img-responsive" /></div>
    <div class="exhibit-desc">
        {{ obj.description|raw }}
    </div>

    {% if obj.gallery1 or obj.gallery2 or obj.gallery3 %}
        <hr/>
        <div class="gallery">
            <div class="row">
                <div id="links">
                    {% if obj.gallery1 %}
                    <div class="col-sm-4">
                        <a href="{{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery1) }}">
                            <img src=" {{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery1) | imagine_filter('squared_thumbnail') }}" />
                        </a>
                    </div>
                    {% endif %}
                    {% if obj.gallery2 %}
                    <div class="col-sm-4">
                        <a href="{{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery2) }}">
                            <img src=" {{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery2) | imagine_filter('squared_thumbnail') }}" />
                        </a>
                    </div>
                    {% endif %}
                    {% if obj.gallery3 %}
                    <div class="col-sm-4">
                        <a href="{{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery3) }}">
                            <img src=" {{ asset('uploads/images/' ~ type ~ '/' ~ obj.gallery3) | imagine_filter('squared_thumbnail') }}" />
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

