<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="deadlines">
        test
    </div>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Programma <span class="sr-only">(current)</span></a></li>
                <li {% if active == 'exhibit' %}class="active"{% endif %}><a href="{{ path('exhibit') }}">Mostre</a></li>
                <li><a href="#">Art Market</a></li>
                <li {% if active == 'performance' %}class="active"{% endif %}><a href="{{ path('performance') }}">Concerti e Performance</a></li>
                <li {% if active == 'meeting' %}class="active"{% endif %}><a href="{{ path('meeting') }}">Incontri</a></li>
                <li {% if active == 'workshop' %}class="active"{% endif %}><a href="{{ path('workshop') }}">Workshop</a></li>
                <li {% if active == 'street' %}class="active"{% endif %}><a href="{{ path('street') }}">Interventi Urbani</a></li>
                <li><a href="#">Eventi Collaterali</a></li>
                <li><a href="#">L'Abbazia</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Collaborazioni</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

