{% extends 'base.html.twig' %}

{% block title %}{{ performance.title }} - {{ parent() }}{% endblock %}

{% block content %}
<div class="container exhibit-container">
    <div class="exhibit-title"><h1>{{ performance.title }}</h1></div>
    <div class="exhibit-image"><img src="{{ asset('images/' ~ performance.image) }}" class="img-responsive" /></div>
    <div class="exhibit-desc">
        {{ performance.description|raw }}
    </div>

</div>
{% endblock %}
